version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: agentmesh_redis
    ports:
      - "6379:6379"
    restart: always

  postgres:
    image: postgres:16-alpine
    container_name: agentmesh_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: agentmesh
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
